{% extends 'ArcherMeetEntryBundle::layout.html.twig' %}

{% block body -%}
    <h1>Athlete</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>First_name</th>
                <td>{{ entity.firstname }}</td>
            </tr>
            <tr>
                <th>Last_name</th>
                <td>{{ entity.lastname }}</td>
            </tr>
            <tr>
                <th>Date_of_birth</th>
                <td>{{ entity.dateofbirth|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Graduation_year</th>
                <td>{{ entity.graduationyear|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Grade</th>
                <td>{{ entity.grade }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('athlete') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('athlete_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
